* { box-sizing: border-box;}

.mini-map__wrapper {
    position: relative;
    width: 900px;
    height: 100px;
    background-clip: padding-box;
    overflow: hidden;
}

.slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    height: 100%;
    box-shadow: 0 20px 20px 900px #e0e2e466;
    border-top: 2px solid #bacde073;
    border-bottom: 2px solid #bacde073;
    transform: translateX(630px); /* TODO: review */
}

.left_hand {
    width: 10px;
    height: 100%;
    background-color: #bacde073;

    position: absolute;
    top: 0;
    left: 0;
}

.right_hand {
    width: 10px;
    height: 100%;
    background-color: #bacde073;

    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%);
}

.map__touch-container {
    position: absolute;
    top: 0;
    left: 0;
}

.map__touch-circle {
    width: 120px;
    height: 120px;

    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #bacde073;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0 0;
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.map__touch-container__is-visible {
}

.map__touch-container__is-visible > .map__touch-circle {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
}

.map-container {
    position: relative;
}

main {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

body {
    margin: 25px;
}

h1 {
    font-style: italic;
    font-family: Times;
}
