.chart-container {
    width: 900px;
    overflow: hidden;
}

.chart-legend {
    display: flex;
}

.chart-legend__label input {
    margin-right: 8px;
}

.chart-legend__button {
    margin-left: 8px;
    font-size: 24px;
    padding: 16px 24px;
    border: 1px solid #eee;
    border-radius: 28px;
}

#subscribers-chart {
    padding-left: 20px;
}
