
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    padding: 8px;
}

.chart {
    margin-top: 40px;
}

.chart_canvas-wrap {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.canvas_for-labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.chart__canvas {
    width: 100%;
    height: 400px;
}

.chart__resize-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.app-container {
    padding: 16px 24px 0;
}
.chart--night-mode .chart__header {
    color: #fff;
}

.chart__header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.chart-container {
    width: 900px;
    overflow: hidden;
}

.chart-legend {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.chart-legend__button  {
    margin-right: 12px;
    margin-bottom: 12px;
}
