.selected-tooltip {
    display: none;
    background-color: #fff;
    padding: 16px 24px;
    border: 2px solid #eee;
    border-radius: 6px;
    position: absolute;
    top: 40px;
}

.selected-tooltip__header {
    font-size: 24px;
}

.selected-tooltip__label-container {
    display: flex;
    margin-top: 16px;
}

.selected-tooltip__label {
    display: flex;
    flex-direction: column;
}

.selected-tooltip__label + .selected-tooltip__label {
    margin-left: 24px;
}

.selected-tooltip__value {
    font-weight: bold;
    font-size: 32px;
}

.selected-tooltip__chart-name {
    margin-top: 8px;
    font-weight: 300;
    font-size: 24px;
}
